

h1 {
    color: #006a71;
    padding: 10px;
}
body {
    
    background-image: -webkit-linear-gradient(65deg, #E8F9FD 50%, #79DAE8 50%);
    min-height: 600px;
    font-family: 'helvetica neue';
}
h2 {
    color: #006a71;
    padding: 10px;
}






